@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --font-sans: "Inter", sans-serif;

  /* brand */
  --brand-base: 147 55% 28%;
  --brand-dark: 147 61% 18%;

  /* gray scale */
  --gray-900: 222 47% 11%;
  --gray-800: 215 25% 27%;
  --gray-700: 215 16% 35%;
  --gray-600: 215 14% 46%;
  --gray-400: 215 16% 65%;
  --gray-200: 220 13% 91%;
  --gray-100: 210 20% 98%;

  /* feedback */
  --danger: 0 84% 60%;
  --success: 153 75% 39%;

  /* neutral */
  --white: 0 0% 100%;
  --black: 0 0% 0%;

  /* color-options */
      /* BLUE */
    --blue-dark: 224 76% 48%;
    --blue-base: 221 83% 53%;
    --blue-light: 214 100% 92%;

    /* PURPLE */
    --purple-dark: 272 76% 46%;
    --purple-base: 272 72% 53%;
    --purple-light: 270 100% 96%;

    /* PINK */
    --pink-dark: 332 77% 43%;
    --pink-base: 332 74% 51%;
    --pink-light: 330 100% 96%;

    /* RED */
    --red-dark: 0 72% 43%;
    --red-base: 0 72% 51%;
    --red-light: 0 100% 94%;

    /* ORANGE */
    --orange-dark: 20 87% 40%;
    --orange-base: 20 86% 49%;
    --orange-light: 30 100% 93%;

    /* YELLOW */
    --yellow-dark: 45 86% 34%;
    --yellow-base: 45 92% 42%;
    --yellow-light: 55 86% 94%;

    /* GREEN */
    --green-dark: 142 72% 30%;
    --green-base: 142 72% 36%;
    --green-light: 142 80% 94%;

  /* base */  
  --background: var(--gray-100);
  --card: var(--white);

  --button-text: var(--white);
  --button-secondary-text: var(--gray-700)
  --button-border: var(--gray-200);

  --title-primary: var(--gray-800);
  --title-secondary: var(--gray-500);
  --foreground: var(--gray-600);

  --label: var(--gray-700);
  --input-default: var(--gray-400);
  --input-focus: var(--gray-800);

  --border: var(--gray-200);

  --income: var(--green-base);
  --expense: var(--brand-base);
  }
  

  .dark {
    --background: var(--gray-900);
    --foreground: 0 0% 100%;

    --surface: var(--gray-800);
    --border: var(--gray-700);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}